cpu.max = 6

experimentId = 1
dataPath = ../Data/
datasetName = CMAPSS/FD001_train.arff
seed = 42
numberOfFolds = 2

featureSearchspace = searchspace/timeseries.json
featureRequiredInterface = TimeSeriesFeatureGenerator
featureMainComponentNames = python_connection.feature_generation.tsfresh_feature_generator.FCParametersDictionary, pyts.transformation.ROCKET, pyts.transformation.ShapeletTransform
featureMainComponentNamesWithoutActivationBit = python_connection.feature_generation.tsfresh_feature_generator.FCParametersDictionary
featureCandidateTimeout = 10:MINUTES
featurePopulationSize = 5
featureNumberOfGenerations = 2

regressionSearchpace = searchspace/regression.json
regressionRequiredInterface = AbstractRegressor
regressionPopulationSize = 10
regressionCandidateTimeout = 2:MINUTES

internal_performance_measure = ASYMMETRIC_LOSS
featureObjectiveMeasure = AVERAGE