cpu.max = 6

experimentId = 1
dataPath = ../Data/
datasetName = CMAPSS/FD001_train.arff
seed = 42
numberOfFolds = 2

featureSearchspace = searchspace/timeseries.json
featureRequiredInterface = MLPipelineTimeseriesFeatureExtraction
featureMainComponentNames = ml4pdm.transformation.fixed_size.TsfreshWrapper, ml4pdm.transformation.AttributeFilter
featureMainComponentNamesWithoutActivationBit = ml4pdm.transformation.fixed_size.TsfreshWrapper
featureCandidateTimeout = 10:MINUTES
featurePopulationSize = 5
featureNumberOfGenerations = 2

regressionSearchpace = searchspace/regression.json
regressionRequiredInterface = AbstractRegressor
regressionPopulationSize = 10
regressionCandidateTimeout = 2:MINUTES

internal_performance_measure = ASYMMETRIC_LOSS
featureObjectiveMeasure = AVERAGE